:root{
    --orange:#e8aa42;
    --black:#130d33;
    --purple:#231955;
    --blue:#1f4690;
    --light:#ffe584;
    --grays:rgb(252, 246, 246);
}

.productsMAin{
    width: 100%;
    height: 25rem;
    background-color: var(--grays);
}

.ProductsGroupCard{
    width: 80%;
}