.SinglePrductPageSection{
    width: 100%;
    height: 29rem;
}
.singleProductPageSection-1{
    width: 30%;
}

.SingleProductPAgeSection-2{
    width: 30%;
}

.singleProductPageSection-1 img{
    width: 80%;
    height: 20rem;
}

.SingleDescription{
    width: 100%;
}